@charset "UTF-8";

section {
    position: absolute;
    top: 6vh;
    left: 25vw;
    width: 50vw;
    height: 80vh;
    text-align: center;
}
#idpwBox {
    text-align: center;
    width: 50%;
    height: 21vh;
    margin-left: 25%;
    margin-bottom: 8vh;
    margin-top: 10vh;
}
#idpwBox div {
    width: 100%;
    height: 7vh;
    border: 2px solid #ffd067;
    font-size: 16px;
    margin-bottom: 1vh;
    border-radius: 20px;
}
#phoneBox div {
    width: 100%;
    height: 7vh;
    border: 2px solid #ffd067;
    font-size: 16px;
    margin-bottom: 1vh;
    border-radius: 20px;
}
#idpwBox input {
    height: 5vh;
    font-size: 16px;
    border: none;
    width: 80%;
    position: relative;
    top: -1vh;
}
#phoneBox input {
    height: 5vh;
    font-size: 16px;
    border: none;
    width: 80%;
    position: relative;
    top: -1vh;
}
#idpwBox span {
    padding: 1vw;
    margin-left: -2vw;
}
#phoneBox span {
    padding: 1vw;
    margin-left: -2vw;
}
#phoneBox {
    text-align: center;
    width: 50%;
    height: 21vh;
    margin-left: 25%;
    margin-bottom: 15vh;
}
/* #phoneBox input {
    width: 100%;
    height: 7vh;
    border: 2px solid #ffd067;
    margin-bottom: 1vh;
    border-radius: 20px;
    font-size: 16px;
} */
#phoneBox select {
    height: 100%;
    border: none;
}

#phoneBox #phoneNum {
    width: 80%;
    border: none;
    top: 0.2vh;
}
section input[type="submit"] {
    width: 12vw;
    border: none;
    height: 5vh;
    border-radius: 10px;
    background-color: #ffd067;
    color: white;
    font-weight: bold;
    margin-right: 1vw;
}

section input[type="reset"] {
    width: 12vw;
    border: none;
    height: 5vh;
    border-radius: 10px;
    background-color: #4e8465;
    color: white;
    font-weight: bold;
}

input:focus {outline: none;}
select:focus {outline: none;}
#phoneBox #phoneBox2 {
    border: 2px solid #ffd067;
    border-radius: 20px;
    height: 7vh;
    overflow: hidden;
}

section input[type="submit"]:hover{
	background-color: #ffbd2b;
}
section input[type="reset"]:hover{
    background-color: #3f6b52;
}
